{% extends "farmer_base.html" %}
{% block farmer_base %}
    <div class="container">
        <div class="admin-container">
            <h1>Admin Dashboard</h1>
            <table>
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Products</th>
                        <th>Delivery Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Buyer</td>
                        <td>Apples, Oranges</td>
                        <td>Dispatched</td>
                        <td>
                            <button class="btn view"><i class="fas fa-eye"></i> View Details</button>
                            <button class="btn delete"><i class="fas fa-trash"></i> Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Seller</td>
                        <td>Carrots, Potatoes</td>
                        <td>In Transit</td>
                        <td>
                            <button class="btn view"><i class="fas fa-eye"></i> View Details</button>
                            <button class="btn delete"><i class="fas fa-trash"></i> Delete</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Buyer</td>
                        <td>Tomatoes, Lettuce</td>
                        <td>Delivered</td>
                        <td>
                            <button class="btn view"><i class="fas fa-eye"></i> View Details</button>
                            <button class="btn delete"><i class="fas fa-trash"></i> Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        

    </div>
{% endblock %}